
.clear {
  clear: both;
}

body {
  font-family: 'Rokkitt', serif;
  margin: 0;
  background-image: url("images/white_bg.png");
}



.about {
  width: 500px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 0;
}

.about h2 {
  margin-top: 10px;
}

.about p {
  font-size: 15px;
}

.self {
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  width: 270px;
  margin-top: 30px;
}

hr {
  height: 3px;
  background-color: black;
  border: none;
  width: 250px; 
}

h3 {
  font-family: 'Rock Salt', cursive;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 0;
}

.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 50px;
}

h4 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  text-align: center;
}

.full-width {
  width: 100%;
}

.third-box {
  float: left;
  width: 26.6666%;
  margin-left: 5%;
  margin-top: 10px;
}

.third-box p {
  margin-bottom: 0;
  font-size: 18px;
}

.list {
  align-content: center;
}

.contact {
  height: 210px;
  background-color: #202020;
}

.contact-headline {
  color: white;
  font-family: 'Rock Salt', cursive;
  padding-top: 30px;
}

.white {
  background-color: white;
  color: white;
}

.contact-link {
  color: white;
  font-weight: bold;
}

.nav-link {
  color: white;
  text-decoration: none;
}

li {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 30px;
}

.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

.navbar {
  background-color: black;
}

.empty {
  height: 75px;
}

.red {
  color: #C4473A;
}

a:hover {
  color: #C4473A !important;
  }